<h1>Report a Review</h1>

<%= simple_form_for [@review, @report_review] do |f|%>
  <% f.hidden_field :review_id, value: params[:review_id] %>

  <% f.label :issue %>
  <%= f.input :issue, as: :select, collection: (['Inappropriate', 'Language', 'Irrelevant', 'Other']) %>

  <% f.label :comment %>
  <%= f.input :comment, as: :text %>

  <%= f.button :submit, class: "button" %>
<% end %>
