// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$footer-yellow: #fdd181;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F0F0F0;
$dark-blue: #213555;
$light-blue: #4F709C;
$yellow: #E5D283;

$accent-light:#d4eaf7;
$accent-medium:#b6ccd8;
$dark-grey:#3b3c3d;
$bold-blue:#71c4ef;
$primary-accent:#00668c;
$primary-text:#1d1c1c;
$secondary-text:#313d44;
$background:#fffefb;
$shadow-light:#f5f4f1;
$shadow-dark:#cccbc8;
