.admin-body {
  display: flex;
  flex-direction: column;
  background-color: $body;
    h4 {
      color: $primary-accent;
      font-weight: bold;
      padding: 10px;
      margin-top: 10px;
    }
    h5 {
      color: $primary-accent;
      font-weight: bold;
    }
}

.reports-container {
  display: flex;
  flex-direction: row;
}

.reported-beaches-card {
  background-color: white;
  width: 48%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.reported-reviews-card {
  background-color: white;
  width: 48%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.each-report {
  margin: 5px 40px 2px 5px;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 98%;
}

.site-and-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    a {
      text-decoration: none;
      color: $primary-accent;
      font-weight: bold;
    }
    h6 {
      color: $primary-accent;
      font-weight: bold;
    }
}

.report-body {
  display: flex;
  flex-direction: column;
}

.confirm-delete-buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
