body {
  font-family: $body-font;
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-content {
  padding-top: 50px;
    i {
      padding-bottom: 50px;
    }
}

header {
  color: black;
  padding: 20px;
}

.home-title {

  background-size: cover;
  background-position: center;
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px 0;
}

.home-content {
  img {
    height: 300px;
    border-radius: 50%;
  }
  h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
}

.features {
  background-color: $accent-medium;
  color: $light-gray;
  border-top: solid;
  box-shadow: 10px 10px 5px rgb(45, 45, 45);
  border-color: $primary-accent;
  display: flex;
  justify-content: center;
  height: 300px;
}

.typewriter {
  text-align: center;
  padding: 100px;
}

#text {
  font-size: 18px;
  font-weight: bold;
  color: black;
  overflow: hidden; /* Hide overflowing text */
  border-right: 1px solid black; /* Add a typewriter cursor */
  white-space: nowrap; /* Keep the text in one line */
  margin: 0 auto; /* Center the text */
  letter-spacing: 4px; /* Adjust letter spacing for better typewriter effect */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Keyframe animation for typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Keyframe animation for cursor blinking */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
