.icons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-left: 50px;

  a {
    padding: 10px;
    text-decoration: none;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.card {
  width: 40%;
  margin: 20px auto;
  border: 2px solid $yellow;
  border-radius: 20px;
  background-color: $light-blue;
  box-shadow: 10px 10px 5px rgba(45, 45, 45, 0.2);
  color: $light-gray;
  display: flex;
  align-items: center;
}

.card-info {
  margin-bottom: 60px;
  padding: 50px 100px;

  h3 {
    padding: 20px;
    color: $light-gray;
  }
}

.card-text {
  text-decoration: none;
  color: $light-gray;
  text-align: center;
}

.img-icon {
  display: flex;
  flex-direction: column;
}

.button-center {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;

  h3 {
    color: $light-gray;
  }
}

.site-header {
  margin: -20px;
}

.body {
  background-color: $dark-blue;
    h1 {
      padding: 30px;
      color: $light-gray;
    }
}

  h1, a {
    text-decoration: none;
    padding: 10px;
    color: $light-gray;
  }

.map-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('Screenshot\ 2023-09-19\ at\ 13.12.56.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 9px rgba(222, 214, 214, 0.2);
}

.fa-triangle-exclamation {
  color: red;
}

.fa-circle-check {
  color: rgb(38, 255, 38);
}

.show-card {
  width: 60%;
  margin-left: 400px;
  margin-bottom: 60px;
  padding-left: 20px;
  border: 2px solid $yellow;
  border-radius: 20px;
  background-color: $light-blue;
  box-shadow: 10px 10px 5px rgba(45, 45, 45, 0.2);
  color: $light-gray;
  display: flex;
  align-items: center;
}

.carousel-item {
  img {
    height: 400px;
  }
}

.water-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    h4 {
      margin-left: 20px;
    }
}

.tide-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  h4 {
    margin-left: 20px;
  }
}

.fav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  h4 {
    margin-left: 20px;
  }
}

.review-card {
  width: 60%;
    h3 {
      padding: 40px 20px 20px 0;
    }
}

.bottom-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container {
  width: 30%;
}

.each-review {
  border: 1px  solid black;
  border-radius: 20px;
  padding: 20px;
}
