<div class="dashboard-body">
  <div class="card-container">
    <h1>Your Favourites</h1>
    <% @favourites.each do |f| %>
        <%= link_to bathing_site_path(f.bathing_site.id), class: "card" do %>
          <%= f.bathing_site.site_name.capitalize %>
        <% end %>
    <% end  %>
  </div>
</div>
