    <div class="footer">
        <div class="footer-item">
            <i class="fas fa-envelope fa-lg"></i>
            <a href="mailto:info@example.com">waterpro@waterpro.com</a>
        </div>
         <div class="footer-item">
            <i class="fa-solid fa-heart"></i>
            <p>Alerts today for a cleaner tomorrow</p>
        </div>
        <div class="footer-item">
            <i class="fab fa-facebook fa-lg"></i>
            <i class="fab fa-twitter fa-lg"></i>
            <i class="fab fa-instagram fa-lg"></i>
        </div>
    </div>
