    <div class="footer">
        <div class="footer-item">
            <i class="fas fa-envelope fa-lg"></i>
            <p>Contact us: <a href="mailto:info@example.com">waterpro@waterpro.com</a></p>
        </div>
         <div class="footer-item">
            <i class="fas fa-question-circle fa-lg"></i>
            <p><a href="#">FAQ</a></p>
        </div>
        <div class="footer-item">
            <i class="fab fa-facebook fa-lg"></i>
            <i class="fab fa-twitter fa-lg"></i>
            <i class="fab fa-instagram fa-lg"></i>
            <p>Follow us on social media</p>
        </div>
    </div>
