<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <h4><%= review.title %></h4>
    <p><%= review.body %></p>
    <p><%= review.date %></p>
  <% end %>
<% else %>
  <h2>No reviews available for <%= @bathing_site.site_name %></h2>
<% end %>
