<% if bathing_site.station_id.present? %>
  <% base_url = 'https://admiraltyapi.azure-api.net/uktidalapi/api/V1/Stations' %>
  <% station_id = sprintf('%04d', bathing_site.station_id) %>
  <% tide_info_url = "#{base_url}/#{station_id}/TidalEvents" %>

  <% headers = {
    'Host' => 'admiraltyapi.azure-api.net',
    'Ocp-Apim-Subscription-Key' => ENV['TIDE_API']
  } %>

  <% response = HTTParty.get(tide_info_url, headers: headers) %>
  <% tidal_events = JSON.parse(response.body) %>

  <% current_time = Time.now.iso8601 %>

  <% future_events = tidal_events.select { |event| event['DateTime'] > current_time } %>

  <% next_high_tide = future_events&.find { |event| event['EventType'] == 'HighWater' } %>
  <% next_low_tide = future_events&.find { |event| event['EventType'] == 'LowWater' } %>

<% if next_high_tide && next_low_tide %>
  <% next_high_tide_time = Time.parse(next_high_tide['DateTime']) %>
  <% next_low_tide_time = Time.parse(next_low_tide['DateTime']) %>

  <% if next_low_tide_time < next_high_tide_time %>
    <p>Tide is&nbsp;<h5>falling</h5>. Next low tide is on <%= next_low_tide_time.strftime('%d/%m/%y @ %H:%M') %></p>
  <% else %>
    <p>Tide is&nbsp;<h5>rising</h5>. Next high tide is on <%= next_high_tide_time.strftime('%d/%m/%y @ %H:%M') %></p>
  <% end %>

<% elsif next_low_tide %>
  <p>Tide is&nbsp;<h5>falling</h5>. Next low tide is on <%= Time.parse(next_low_tide['DateTime']).strftime('%d/%m/%y @ %H:%M') %></p>

<% elsif next_high_tide %>
  <p>Tide is&nbsp;<h5>rising</h5>. Next high tide is on <%= Time.parse(next_high_tide['DateTime']).strftime('%d/%m/%y @ %H:%M') %></p>

<% else %>
  <p>No upcoming tide events.</p>
<% end %>
<%end%>
