<section class="home-title">
        <div class="home-content">
            <i class="fa-solid fa-droplet fa-2xl">WATERPRO</i>
            <div class="search-bar-homepage">
            <%= render "shared/search_bar" %>
            </div>
        </div>
    </section>
    </div>
    <section class="features">
      <div class="typewriter">
          <h3 id="text">Discover the water quality near you...</h3>
      </div>
      <%= javascript_pack_tag 'script', 'data-turbolinks-track': 'reload' %>
    </section>
