<section class="home-title">
        <div class="home-content">
            <img src="https://scontent.flhr14-1.fna.fbcdn.net/v/t39.30808-6/385777115_122109967232051732_3229509019242365589_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=49d041&_nc_ohc=2raWp0dYN7UAX_CFZun&_nc_ht=scontent.flhr14-1.fna&oh=00_AfBUkKXHlk93SjOwaqDcWHaRGtk7tSb-4UbDjgXMJBRmyg&oe=65234845" alt="">
            <%# <i class="fa-solid fa-droplet fa-2xl">WATERPRO</i> %>
            <div class="search-bar-homepage">
            <%= render "shared/search_bar" %>
            </div>
            <div class="typewriter">
          <h3 id="text">Discover the water quality near you...</h3>
      </div>
      <div data-controller="script"></div>
        </div>
    </div>
    <div class="features">
    </div>
