<section class="home-title">
        <div class="home-content">
            <h2>Discover the water quality where YOU want to swim</h2>
            <p>Find pollution levels, tide information, and weather conditions for your favourite destinations.</p>
            <div class="search-bar-homepage">
            <%= render "shared/search_bar" %>
            </div>
        </div>
    </section>

    <section class="features">
         <div class="feature">
        <i class="fas fa-globe fa-3x mb-4"></i>
        <h3>Search Locations</h3>
        <p>Explore a wide range of water locations around the world and access real-time data.</p>
    </div>
    <div class="feature">
        <i class="fas fa-pencil-alt fa-3x mb-4"></i>
        <h3>Submit Reviews</h3>
        <p>Share your experiences and help others make informed decisions about water quality.</p>
    </div>
    <div class="feature">
        <i class="fas fa-info-circle fa-3x mb-4"></i>
        <h3>Stay Informed</h3>
        <p>Receive up-to-date information on pollution levels, tides, and weather forecasts.</p>
    </div>
    </section>
