<div class="body">
    <div class="text-center">
      <h1><%= @bathing_site.site_name.capitalize %></h1>
    </div>
      <img src="https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=51.79093&lon=1.15624&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*" alt="map of bathing site">
        <div class="icons">
            <a href="#"><i class="fa-brands fa-gratipay"></i></a>
            <a href="#"><i class="fa-regular fa-share-from-square"></i></a>
            <a href="#"><i class="fa-regular fa-comment-dots"></i></a>
        </div>
            <p>    Pollution level: <%= @bathing_site.pollution_level %></p>
            <p>    Tide level: <%= @bathing_site.tide %></p>
            <p>    Region: <%= @bathing_site.region %></p>
</div>
