<div class="body">
    <div class="text-center">
      <h1><%= @bathing_site.site_name.capitalize %></h1>
        </div class="show-img">
          <img src="https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=51.79093&lon=1.15624&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*" alt="map of bathing site">
        </div>
        <div class="icons">
            <a href="#"><i class="fa-brands fa-gratipay"></i></a>
            <a href="#"><i class="fa-regular fa-share-from-square"></i></a>
            <a href="#"><i class="fa-regular fa-comment-dots"></i></a>
        </div>
            <p>Location: <%= @bathing_site.site_name %></p>
            <p>Water quality: <%= @bathing_site.water_quality %></p>
            <p>Region: <%= @bathing_site.region %></p>
</div>
