.button {
  color: $primary-accent;
  background-color: $accent-light;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border-radius: 7.5px;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  solid $primary-accent;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  &:hover {
    background-color: $accent-medium;
  }
}

.profile-buttons {
  display: flex;
  justify-content: center;

}
.small-button {
  width: 75px;
  height: 45px;
  font-size: 14px;

  &:hover {
    background-color:$yellow;
  }
}

.fas.fa-heart {
  color: $primary-accent;
}

.far.fa-heart {
  color: $primary-accent;
}

.forgot-password-button {
  text-decoration: none;
  text-align: center;
  font-size: 10px;
}

