.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1020px;
  background-image: url("https://images.unsplash.com/photo-1507166763745-bfe008fbb831?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    h2 {
      color: $light-gray;
      padding: 60px;
    }
}

.form-container {
  height: 800px;
  width: 600px;
  background-color: $light-gray;
  padding: 60px;
  border-style: solid;
  border-radius: 20px;
  border-color: $yellow;
  box-shadow: 10px 10px 5px rgb(19, 23, 70);
}
