.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h4 {
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 15px;
      padding-left: 15px;
    }
    h6 {
      font-weight: bold !important;
      color: $primary-accent;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-weight: bold;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-lewagon .nav-item.dropdown i.fa-solid.fa-bars {
  font-size: 24px;
  color: $primary-accent;
  padding-right: 50px;
  padding-top: 7px;
  align-items: center;
  padding-bottom: 10px;
}

.dropdown-menu {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
  padding: 10px 20px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0;
  color: #333;
}

.dropdown-menu .dropdown-header {
  font-weight: bold;
  color: #555;
}

.fa-droplet {
  color: $primary-accent;
  padding-left: 5px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}



/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .navbar-lewagon {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-lewagon h4 {
    margin-top: 10px;
    padding-left: 0;
  }

  .navbar-lewagon .nav-item.dropdown i.fa-solid.fa-bars {
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  /* Hide the avatar by default on mobile */
  .navbar-lewagon .nav-item.dropdown i.fa-solid.fa-bars {
    display: inline; /* Show the "bars" icon */
  }

  /* Hide the "Hello User" text on mobile when user is logged in */
  .navbar-lewagon .d-flex.align-items-center h6 {
    display: none; /* Hide the "Hello User" text */
  }
}
