  <p>An issue has been identified for this site:</p>
  <% @reports.each do |report| %>
  <%= report.issue %>
  <br>
  <%= report.comment %>
  <% end %>
  <br>
  <p>it is not recommended you swim at this site today</p>
