<div class="confirmation-body">
  <div class="confirmation-content">
    <h1 class="confirmation-header">Thank you for your report!</h1>
    <p class="confirmation-text">
      Your report has been submitted successfully. Your contribution is instrumental in maintaining the safety, cleanliness, and enjoyment of our bathing sites. We appreciate your vigilance and willingness to be a responsible member of our community. Together, we can create a positive and enjoyable experience for all.
    </p>
  </div>

  <div class="confirmation-home">
    <%= link_to 'Homepage', root_path, class: 'button' %>
  </div>
</div>
